# Compiled object files
*.o
*.obj

# Executables
*.exe
*.out
main
unit_tests

# Debug files
*.dSYM/

# Editor files
*.swp
*.swo
*~
.DS_Store


# HW3 build artifacts
hw_3/*.o
hw_3/test_dynamic_array
hw_3/main

# HW5 build artifacts
hw_5/kmeans
hw_5/regression
hw_5/*.ppm
hw_5/*.dSYM
